* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cuerpo_form {
    width: 60%;
}

.input, .button {
    padding: 8px;
    border-radius: 8px;
    width: 100%;
}

.button {
    background-color: rgb(34, 34, 235);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(34, 34, 235);
    font-weight: bold;
    width: 50%;
    margin-top: 5px;
    transition: .5s;
}

.button:hover {
    background-color: rgb(52, 52, 237);
    border: 1px solid rgb(52, 52, 237);
    cursor: pointer;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

/* Validaciones */
.error_input {
    outline: 1px solid red;
    border: 1px solid red;
    background-color: rgb(255, 189, 189);
}

.error_input::placeholder {
    color: red;
}